/* body{
    background-color: rgb(230, 218, 204);
    
}


img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;

}
#box_element{
    text-align: center;

}
a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color: grey;
    text-decoration: underline;
}
button{
    background-color: rgb(230, 218, 204);
    border: none;
} */

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.box_element{
    width: 100%;
    background-image: azure;
}
img{
    

}